*.pyc
.ipynb_checkpoints

temp_results\.json
temp_inspect\.json

week2c
week3c
week4c
week5c

temp_completion_log

*.bak
*.dbf
*.prj
*.shp
*.shx
maps/nswlocalitypolygonshp\.zip

venv/
.vscode/
admin/marksTreeMap.js
week2/tests.py
week2/exercise3.py
week2/exercise0.py
week1/tests.py
week1/exercise1.py
*.py
